<div class="w-sm lg:w-xl relative">
   <div class="relative overflow-hidden rounded-lg w-full h-80 lg:h-[32rem] bg-(--primary)">
      <img [ngSrc]="images[currentImageIndex].path"
           [alt]="images[currentImageIndex].alt"
           class="w-full h-full object-contain"
           (click)="openModal(currentImageIndex)"
           fill>
      <div class="absolute bottom-0 w-full bg-(--primary) text-(--accent-light) p-3">
         {{ images[currentImageIndex].info ?? images[currentImageIndex].alt }}
      </div>
   </div>

   <button class="absolute left-2 top-1/2 -translate-y-1/2 px-1 py-1 rounded-full flex items-center justify-center"
           (click)="prevImage()">
      <ng-icon name="faSolidChevronLeft" class="text-2xl"></ng-icon>
   </button>
   <button class="absolute right-2 top-1/2 -translate-y-1/2 px-1 py-1 rounded-full flex items-center justify-center"
           (click)="nextImage()">
      <ng-icon name="faSolidChevronRight" class="text-2xl"></ng-icon>
   </button>

   <div class="flex justify-center mt-3">
      <div *ngFor="let image of images; let i = index"
           [class.bg-accent]="i === currentImageIndex"
           [class.bg-secondary-dark]="i !== currentImageIndex"
           class="w-3 h-3 rounded-full mx-1 cursor-pointer"
           (click)="setCurrentImage(i)">
      </div>
   </div>
</div>

<div *ngIf="isModalOpen"
     class="absolute top-0 left-0 z-50 flex items-center justify-center h-dvh w-dvw p-10 bg-gray-900/90">
   <div class="relative w-full h-full">
      <img [ngSrc]="images[modalImageIndex].path"
           [alt]="images[modalImageIndex].alt"
           class="object-contain"
           fill>
   </div>

   <button class="absolute top-5 right-5 text-3xl z-20 flex items-center p-1" (click)="closeModal()">
      <ng-icon name="faSolidXmark"></ng-icon>
   </button>
   <button
      class="absolute left-2 top-1/2 -translate-y-1/2 px-1 py-1 rounded-full text-3xl flex items-center justify-center"
      (click)="modalPrevImage()">
      <ng-icon name="faSolidChevronLeft"></ng-icon>
   </button>
   <button
      class="absolute right-2 top-1/2 -translate-y-1/2 px-1 py-1 rounded-full text-3xl flex items-center justify-center"
      (click)="modalNextImage()">
      <ng-icon name="faSolidChevronRight"></ng-icon>
   </button>
</div>

