<div class="w-full flex flex-col gap-10 text-center lg:text-start">
   <h1 class="text-5xl">Oops! Something must have gone wrong...</h1>
   <p class="text-lg px-5 lg:px-0">
      The page you are looking for does not exist or an error has occurred.
      <br>
      You will be redirected to the home page shortly.
   </p>
   <div class="lg:place-self-center mt-10">
      <p class="font-mono text-nowrap text-(--secondary-dark) dark:text-(--primary-light) w-full text-xs lg:text-xl">
         ____________/\\\________/\\\\\\\_______________/\\\____<br>
         &nbsp;__________/\\\\\______/\\\/////\\\___________/\\\\\____<br>
         &nbsp;&nbsp;________/\\\/\\\_____/\\\____\//\\\________/\\\/\\\____<br>
         &nbsp;&nbsp;&nbsp;______/\\\/\/\\\____\/\\\_____\/\\\______/\\\/\/\\\____<br>
         &nbsp;&nbsp;&nbsp;&nbsp;____/\\\/__\/\\\____\/\\\_____\/\\\____/\\\/__\/\\\____<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__/\\\\\\\\\\\\\\\\_\/\\\_____\/\\\__/\\\\\\\\\\\\\\\\_<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_\///////////\\\//__\//\\\____/\\\__\///////////\\\//__<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________\/\\\_____\///\\\\\\\/_____________\/\\\____<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________\///________\///////_______________\///_____<br>
      </p>
   </div>
</div>




