<h1 class="text-5xl">Mijn hobbies</h1>
<h2 class="text-3xl place-self-end">Motorfietsen</h2>
<div class="flex flex-col lg:flex-row gap-5 lg:gap-10">
   <app-image-carrousel [images]="motorcycleImages"></app-image-carrousel>
   <div class="flex flex-col gap-3 mb-10">
      <p>
         Motorfiets hebben mij altijd al gefascineerd. In 2019 leerde ik over de code 372, waarmee je met slechts 4 uur
         rijles al een motorfiets mag besturen van maximaal 125cc. Benieuwd of mijn fascinaties zich vertalen in
         plezier, heb ik deze stap genomen en mijn eerste motorfiets gekocht. Al snel merkte ik dat ik veel liever met
         de motor reed, dan met de wagen en ik ben dagelijks naar mijn werk beginnen rijden op die kleine Yamaha, door
         weer en wind.
      </p>
      <p>
         In 2020 heb ik mijn volwaardig A-rijbewijs behaald, waardoor ik nu alle motorfietsen mag besturen. Mijn kleine
         Yamaha werd verkocht om plaats te maken voor een Honda ST1100 Pan European. De belangrijkste reden: comfort en
         bagageruimte, maar ook ABS om veilig te kunnen rijden, ongeacht het weer. Helaas had deze oude motor al veel
         kilometers en het duurde dan ook niet lang voor de kosten te hoog opliepen. In november 2022 heb ik mijn Honda
         ingeruild voor mijn huidige motor - een Kawasaki Versys 1000 GT van 2018. Deze motor is een stuk moderner, met
         een beter ABS-systeem en ook Traction Control, zodat ik elke dag veilig kan thuiskomen van mijn werk.
      </p>
      <p>
         Ik rijd niet alleen graag met de motor, maar ik doe ook veel onderhoud zelf. Olie of remblokken vervangen
         schrikt mij niet af. Ik heb mijn Kawasaki ook zelf uitgerust met verwarmde handvaten, een dashcam systeem en
         een Android Auto display.
      </p>
      <p>
         Touring motorfietsen zijn niet de enige motorfietsen die mij interesseren. Ik heb altijd een zwak gehad voor
         klassieke cruisers, maar naked en sport motorfietsen kunnen mij ook bekoren. Ik weet nog niet wat mijn volgende
         motorfiets zal zijn, dat laat ik nog even in het midden. Mijn droom is drie motorfietsen in de garage: een
         elektrische motor om dagelijks mee van en naar het werk te rijden, een grote touring motor om langere
         plezierritten te maken en een oldtimer om piekfijn in orde te houden, voor die speciale evenementen in de
         zomer.
      </p>
   </div>
</div>

