<h1 class="text-5xl">Mijn hobbies</h1>

<h2 class="text-3xl place-self-end">Motorfietsen</h2>
<div class="flex flex-col lg:flex-row gap-5 lg:gap-10">
   <app-image-carrousel [images]="motorcycleImages"></app-image-carrousel>
   <div class="flex flex-col gap-3 mb-10">
      <p>
         Motorfietsen hebben mij altijd gefascineerd. In 2019 ontdekte ik de zogenaamde “code 372”, waarmee je na
         slechts vier uur rijles al een motorfiets tot 125cc mag besturen. Benieuwd of mijn fascinatie zich ook in
         plezier zou vertalen, besloot ik de stap te zetten en kocht ik mijn eerste motorfiets. <br>
         Al snel merkte ik dat ik veel liever met de motor reed dan met de wagen. Ik begon dagelijks met mijn kleine
         Yamaha naar het werk te rijden – door weer en wind.
      </p>
      <p>
         In 2020 behaalde ik mijn volwaardig A-rijbewijs, waardoor ik sindsdien alle motorfietsen mag besturen. De
         Yamaha maakte plaats voor een Honda ST1100 Pan European. Die keuze maakte ik vooral voor het comfort, de
         bagageruimte en de veiligheid dankzij het ABS-systeem – handig bij wisselvallig weer. Helaas had de motor al
         veel kilometers op de teller, en de onderhoudskosten liepen snel op. In november 2022 ruilde ik de Honda in
         voor mijn huidige motor: een Kawasaki Versys 1000 GT uit 2018. Die is een stuk moderner, met geavanceerd ABS,
         Traction Control en meer comfort voor dagelijks gebruik.
      </p>
      <p>
         Ik rijd niet alleen graag motor, ik doe ook veel onderhoud zelf. Olie of remblokken vervangen? Geen probleem.
         Ik heb mijn Kawasaki ook zelf uitgerust met verwarmde handvatten, een dashcamsysteem en een Android
         Auto-display.
      </p>
      <p>
         Het zijn niet alleen touringmotoren die mij interesseren. Ik heb altijd al een zwak gehad voor klassieke
         cruisers, maar ook naked bikes en sportmotoren kunnen me zeker bekoren. Wat mijn volgende motor wordt, weet ik
         nog niet – dat laat ik voorlopig open. Mijn droom? Drie motorfietsen in de garage: een elektrische motor voor
         dagelijks woon-werkverkeer, een grote touringmotor voor langere plezierritten, en een oldtimer die ik piekfijn
         in orde houd voor speciale evenementen in de zomer.
      </p>
   </div>
</div>

<h2 class="text-3xl">Muziek</h2>
<div class="flex flex-col lg:flex-row-reverse gap-5 lg:gap-10">
   <app-image-carrousel [images]="musicImages"></app-image-carrousel>
   <div class="flex flex-col gap-3 mb-10">
      <p>
         Muziek is altijd een belangrijk onderdeel van mijn leven geweest. Als kind had ik al een walkman met een mooie
         collectie cassettes én een platenspeler op mijn slaapkamer. Die walkman ging overal mee naartoe.
      </p>
      <p>
         Toen ik tien jaar oud was, wilde ik me aansluiten bij de lokale harmonie: de Koninklijke Harmonie Sint-Maurus
         van Holsbeek. Om te mogen starten, moest ik ook naar de muziekschool van de dirigent. Aanvankelijk wilde ik
         saxofoon leren spelen, maar de dirigent overtuigde me om voor klarinet te kiezen – er waren namelijk al genoeg
         saxofonisten, maar een tekort aan klarinettisten.
      </p>
      <p>
         Naarmate ik ouder werd, begon ik ook festivals te bezoeken. Vooral Graspop Metal Meeting in Dessel sprak me
         enorm aan. Ik raakte helemaal in de ban van het zwaardere gitaarwerk en kon me volledig verliezen in een goed
         optreden. <br>
         Ondertussen bleef ik actief bij de harmonie en genoot ik daar enorm van. Maar nadat ik begon te werken bij DHL
         Aviation, werd het steeds moeilijker om de repetities te combineren met nachtwerk. Uiteindelijk heb ik, na 14
         jaar, besloten om te stoppen. Ik mis het wel. Misschien koop ik ooit nog eens een klarinet om thuis te oefenen
         – wie weet.
      </p>
      <p>
         De zware weekends op Graspop hoeven tegenwoordig niet meer. In plaats daarvan ga ik liever ontspannen naar het
         folkfestival Na Fir Bolg in Vorselaar. Hun reputatie als 'gezelligste festival van Vlaanderen' maken ze
         helemaal waar. <br>
         Ik blijf oude nummers uit mijn jeugd (of zelfs oudere muziek) opzoeken, maar sta ook open voor nieuwe
         ontdekkingen. Mijn muzieksmaak is breed en afhankelijk van mijn stemming of bezigheden. Ik ben altijd benieuwd
         wat voor muziek de toekomst nog zal brengen.
      </p>
   </div>
</div>

<h2 class="text-3xl place-self-end">Muay Thai</h2>
<div class="flex flex-col lg:flex-row gap-5 lg:gap-10">
   <app-image-carrousel [images]="muayThaiImages"></app-image-carrousel>
   <div class="flex flex-col gap-3 mb-10">
      <p>
         In mijn jeugd beoefende ik eerst judo en later karate, maar ik vond nooit echt wat ik zocht. In 2004 leerde ik
         via mijn broer Muay Thai kennen. Hij zat bij een club in Leuven en sprak met veel passie over de sport. In 2005
         ben ik zelf begonnen met trainen bij Dawsu Leuven. Later trainde ik een tijd bij een club in Aarschot, omdat ik
         daar mensen kende van school. <br>
         In 2009 begon ik te studeren aan Groep T in Leuven, en het werd steeds moeilijker om al mijn hobby’s te
         combineren. Ik besloot (tijdelijk) te stoppen met Muay Thai, maar heb het sindsdien altijd gemist.
      </p>
      <p>
         Toen ik in 2023 stopte met nachtwerk bij DHL Aviation, kwamen mijn avonden weer vrij. Ik begon rustig te kijken
         naar clubs in de buurt. Eind 2024 stootte ik via Facebook op DVoted, en in januari 2025 besloot ik een paar
         proeflessen te volgen.<br>
         Na zoveel jaar zonder intensief te sporten, was het best een aanpassing. De eerste lessen waren zwaar, maar ik
         voel mijn conditie weer verbeteren. Op deze leeftijd heb ik geen ambitie meer om competitief te vechten, maar
         het blijft een geweldige manier om te bewegen. Ik voel me goed bij deze club en ben van plan hier nog lang te
         blijven trainen.
      </p>
   </div>
</div>

